<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.kelongmakassar.kelongmakassar">

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".KelongMakassarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LandingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.track.list.TrackListActivity"
            android:label="@string/title_tracks"
            android:parentActivityName=".ui.LandingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.track.detail.TrackDetailActivity"
            android:label="@string/title_track"
            android:parentActivityName=".ui.track.list.TrackListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tutorial.TutorialActivity"
            android:label="@string/label_tutorial"
            android:parentActivityName=".ui.LandingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.games.GamesActivity"
            android:label="@string/label_games"
            android:parentActivityName=".ui.LandingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tutorial.TutorialExampleActivity"
            android:label="@string/label_tutorial_example"
            android:parentActivityName=".ui.tutorial.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tutorial.InfoKelongActivity"
            android:label="@string/label_info_kelong"
            android:parentActivityName=".ui.tutorial.TutorialExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.games.GamesScoreActivity"
            android:label="@string/label_games"
            android:parentActivityName=".ui.games.GamesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.OnboardingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".services.MediaPlayerService" />
    </application>

</manifest>